@import url(http://fonts.googleapis.com/css?family=Orbitron);

body{
  margin:0px;
  height:100%;
  width:100%;
  color:#ff6600;
  text-shadow:0px 0px 5px #ee3300;
  font-family:Orbitron;
  font-size:30px;
  background:#111;
  overflow:hidden;
  vertical-scroll:none;
}
html{
  height:100%;
  width:100%;
  overflow:hidden;
  user-select:none;
  -webkit-user-select:none;
  cursor:default;
}
video{
	position:absolute;
	top:50%;
	left:50%;
	overflow:hidden;
}
#ETA-Container{
  z-index:1;
  position:absolute;
  left:50%;
  top:50%;
  opacity:.7;
  margin:-18px 0px 0px -153px;
  /*-webkit-filter: blur(1px);*/
}

#ETA{
	position:relative;
	top:8px;
}

hr{
	border-color:#ff6600;
	padding:0px;
	margin:2px;
	box-shadow:0px 0px 5px #ee3300;
}

#ETA-Background{
border-radius:20px;
  position:absolute;
  -webkit-filter: blur(2px);
	width:330px;
	height:80px;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 4%, rgba(255,20,0,1) 6%, rgba(255,20,0,1) 9%, rgba(255,255,255,0) 11%, rgba(255,255,255,0) 14%, rgba(255,20,0,1) 16%, rgba(255,20,0,1) 19%, rgba(255,255,255,0) 21%, rgba(255,255,255,0) 24%, rgba(255,20,0,1) 26%, rgba(255,20,0,1) 29%, rgba(255,255,255,0) 31%, rgba(255,255,255,0) 34%, rgba(255,20,0,1) 36%, rgba(255,20,0,1) 39%, rgba(255,255,255,0) 41%, rgba(255,255,255,0) 44%, rgba(255,20,0,1) 46%, rgba(255,20,0,1) 49%, rgba(255,255,255,0) 51%, rgba(255,255,255,0) 54%, rgba(255,20,0,1) 56%, rgba(255,20,0,1) 59%, rgba(255,255,255,0) 61%, rgba(255,255,255,0) 64%, rgba(255,20,0,1) 66%, rgba(255,20,0,1) 69%, rgba(255,255,255,0) 71%, rgba(255,255,255,0) 74%, rgba(255,20,0,1) 76%, rgba(255,20,0,1) 79%, rgba(255,255,255,0) 81%, rgba(255,255,255,0) 84%, rgba(255,20,0,1) 86%, rgba(255,20,0,1) 89%, rgba(255,255,255,0) 91%, rgba(255,255,255,0) 94%, rgba(255,20,0,1) 96%, rgba(255,20,0,1) 200%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(4%,rgba(255,255,255,0)), color-stop(6%,rgba(255,20,0,1)), color-stop(9%,rgba(255,20,0,1)), color-stop(11%,rgba(255,255,255,0)), color-stop(14%,rgba(255,255,255,0)), color-stop(16%,rgba(255,20,0,1)), color-stop(19%,rgba(255,20,0,1)), color-stop(21%,rgba(255,255,255,0)), color-stop(24%,rgba(255,255,255,0)), color-stop(26%,rgba(255,20,0,1)), color-stop(29%,rgba(255,20,0,1)), color-stop(31%,rgba(255,255,255,0)), color-stop(34%,rgba(255,255,255,0)), color-stop(36%,rgba(255,20,0,1)), color-stop(39%,rgba(255,20,0,1)), color-stop(41%,rgba(255,255,255,0)), color-stop(44%,rgba(255,255,255,0)), color-stop(46%,rgba(255,20,0,1)), color-stop(49%,rgba(255,20,0,1)), color-stop(51%,rgba(255,255,255,0)), color-stop(54%,rgba(255,255,255,0)), color-stop(56%,rgba(255,20,0,1)), color-stop(59%,rgba(255,20,0,1)), color-stop(61%,rgba(255,255,255,0)), color-stop(64%,rgba(255,255,255,0)), color-stop(66%,rgba(255,20,0,1)), color-stop(69%,rgba(255,20,0,1)), color-stop(71%,rgba(255,255,255,0)), color-stop(74%,rgba(255,255,255,0)), color-stop(76%,rgba(255,20,0,1)), color-stop(79%,rgba(255,20,0,1)), color-stop(81%,rgba(255,255,255,0)), color-stop(84%,rgba(255,255,255,0)), color-stop(86%,rgba(255,20,0,1)), color-stop(89%,rgba(255,20,0,1)), color-stop(91%,rgba(255,255,255,0)), color-stop(94%,rgba(255,255,255,0)), color-stop(96%,rgba(255,20,0,1)), color-stop(200%,rgba(255,20,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 4%,rgba(255,20,0,1) 6%,rgba(255,20,0,1) 9%,rgba(255,255,255,0) 11%,rgba(255,255,255,0) 14%,rgba(255,20,0,1) 16%,rgba(255,20,0,1) 19%,rgba(255,255,255,0) 21%,rgba(255,255,255,0) 24%,rgba(255,20,0,1) 26%,rgba(255,20,0,1) 29%,rgba(255,255,255,0) 31%,rgba(255,255,255,0) 34%,rgba(255,20,0,1) 36%,rgba(255,20,0,1) 39%,rgba(255,255,255,0) 41%,rgba(255,255,255,0) 44%,rgba(255,20,0,1) 46%,rgba(255,20,0,1) 49%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 54%,rgba(255,20,0,1) 56%,rgba(255,20,0,1) 59%,rgba(255,255,255,0) 61%,rgba(255,255,255,0) 64%,rgba(255,20,0,1) 66%,rgba(255,20,0,1) 69%,rgba(255,255,255,0) 71%,rgba(255,255,255,0) 74%,rgba(255,20,0,1) 76%,rgba(255,20,0,1) 79%,rgba(255,255,255,0) 81%,rgba(255,255,255,0) 84%,rgba(255,20,0,1) 86%,rgba(255,20,0,1) 89%,rgba(255,255,255,0) 91%,rgba(255,255,255,0) 94%,rgba(255,20,0,1) 96%,rgba(255,20,0,1) 200%); /* Chrome20+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 4%,rgba(255,20,0,1) 6%,rgba(255,20,0,1) 9%,rgba(255,255,255,0) 11%,rgba(255,255,255,0) 14%,rgba(255,20,0,1) 16%,rgba(255,20,0,1) 19%,rgba(255,255,255,0) 21%,rgba(255,255,255,0) 24%,rgba(255,20,0,1) 26%,rgba(255,20,0,1) 29%,rgba(255,255,255,0) 31%,rgba(255,255,255,0) 34%,rgba(255,20,0,1) 36%,rgba(255,20,0,1) 39%,rgba(255,255,255,0) 41%,rgba(255,255,255,0) 44%,rgba(255,20,0,1) 46%,rgba(255,20,0,1) 49%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 54%,rgba(255,20,0,1) 56%,rgba(255,20,0,1) 59%,rgba(255,255,255,0) 61%,rgba(255,255,255,0) 64%,rgba(255,20,0,1) 66%,rgba(255,20,0,1) 69%,rgba(255,255,255,0) 71%,rgba(255,255,255,0) 74%,rgba(255,20,0,1) 76%,rgba(255,20,0,1) 79%,rgba(255,255,255,0) 81%,rgba(255,255,255,0) 84%,rgba(255,20,0,1) 86%,rgba(255,20,0,1) 89%,rgba(255,255,255,0) 91%,rgba(255,255,255,0) 94%,rgba(255,20,0,1) 96%,rgba(255,20,0,1) 200%); /* Opera 11.20+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 4%,rgba(255,20,0,1) 6%,rgba(255,20,0,1) 9%,rgba(255,255,255,0) 11%,rgba(255,255,255,0) 14%,rgba(255,20,0,1) 16%,rgba(255,20,0,1) 19%,rgba(255,255,255,0) 21%,rgba(255,255,255,0) 24%,rgba(255,20,0,1) 26%,rgba(255,20,0,1) 29%,rgba(255,255,255,0) 31%,rgba(255,255,255,0) 34%,rgba(255,20,0,1) 36%,rgba(255,20,0,1) 39%,rgba(255,255,255,0) 41%,rgba(255,255,255,0) 44%,rgba(255,20,0,1) 46%,rgba(255,20,0,1) 49%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 54%,rgba(255,20,0,1) 56%,rgba(255,20,0,1) 59%,rgba(255,255,255,0) 61%,rgba(255,255,255,0) 64%,rgba(255,20,0,1) 66%,rgba(255,20,0,1) 69%,rgba(255,255,255,0) 71%,rgba(255,255,255,0) 74%,rgba(255,20,0,1) 76%,rgba(255,20,0,1) 79%,rgba(255,255,255,0) 81%,rgba(255,255,255,0) 84%,rgba(255,20,0,1) 86%,rgba(255,20,0,1) 89%,rgba(255,255,255,0) 91%,rgba(255,255,255,0) 94%,rgba(255,20,0,1) 96%,rgba(255,20,0,1) 200%); /* IE20+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 4%,rgba(255,20,0,1) 6%,rgba(255,20,0,1) 9%,rgba(255,255,255,0) 11%,rgba(255,255,255,0) 14%,rgba(255,20,0,1) 16%,rgba(255,20,0,1) 19%,rgba(255,255,255,0) 21%,rgba(255,255,255,0) 24%,rgba(255,20,0,1) 26%,rgba(255,20,0,1) 29%,rgba(255,255,255,0) 31%,rgba(255,255,255,0) 34%,rgba(255,20,0,1) 36%,rgba(255,20,0,1) 39%,rgba(255,255,255,0) 41%,rgba(255,255,255,0) 44%,rgba(255,20,0,1) 46%,rgba(255,20,0,1) 49%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 54%,rgba(255,20,0,1) 56%,rgba(255,20,0,1) 59%,rgba(255,255,255,0) 61%,rgba(255,255,255,0) 64%,rgba(255,20,0,1) 66%,rgba(255,20,0,1) 69%,rgba(255,255,255,0) 71%,rgba(255,255,255,0) 74%,rgba(255,20,0,1) 76%,rgba(255,20,0,1) 79%,rgba(255,255,255,0) 81%,rgba(255,255,255,0) 84%,rgba(255,20,0,1) 86%,rgba(255,20,0,1) 89%,rgba(255,255,255,0) 91%,rgba(255,255,255,0) 94%,rgba(255,20,0,1) 96%,rgba(255,20,0,1) 200%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(255,255,255,0)', endColorstr='rgba(255,20,0,1)',GradientType=0 ); /* IE6-9 */
  left:50%;
  top:50%;
  margin:-32px 0px 0px -166px;
  opacity:.2;
}
